<span style="background-color: red;
margin: 30px;">{{message}}</span>

<form #signupForm="ngForm" (submit)="signup(signupForm)">



    <label for="">Email</label> <br>
    <input ngModel name="email" type="text"> <br>

    <label for="">Password</label> <br>
    <input ngModel name="password" type="text" > <br>

    <label for="">first name</label> <br>
    <input ngModel name="firstName" type="text"> <br>

    <label for="">Last name</label> <br>    
    <input ngModel name="lastName" type="text" > <br>


    <button>Sign up</button>



</form>