/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/bootstrap/scss/bootstrap"; */

body{
    text-align: center;
}

.error{
    background-color: red;
    margin: 30px;
    border-radius: 2px;
}