<div class="error">{{errorMessage}}</div>

<form #addProductForm="ngForm"  id="form" (submit)="addProduct(addProductForm)">

    <label for="">ID</label> <br>
    <input ngModel name="id" type="text"> <br>
    <label for="">Name</label> <br>
    <input ngModel name="name" required> <br>
    <label for="">Price</label> <br>
    <input ngModel name="price" required> <br>
    <label for="">Image</label> <br>
    <input ngModel name="image" > <br>
    <label for="">Active</label> <br>
    <input ngModel name="active" type="checkbox" > <br>
    <label for="">Description</label> <br>
    <textarea autosize ngModel name="description" > </textarea> <br>
    <label for="">Protein</label> <br>
    <input ngModel name="protein" > <br>
    <label for="">Carbohydrate</label> <br>
    <input ngModel name="carbohydrate" > <br>
    <label for="">Fat</label> <br>
    <input ngModel name="fat" > <br>
    <label for="">Category</label> <br> 
    <!-- category should maybe be a dropdown of all exsiting categories unless this will create a new category as well -->
    <input ngModel name="category" > <br>
    <br>
    <button [disabled]="addProductForm.invalid" >Add</button>

</form>